/* #EEE0CB;
#545643;
#80727B; */

body {
    background: #61707D;
    font-family: 'Lora', serif;
    letter-spacing: 1px;
    font-weight: 300;
}

#hero {
    text-align: center;
    padding: 5rem;
    
}

#hero > h3 {
    margin-top: 0;
}

#hero > h1 {
    margin-bottom: 0;
}

#hero img {
    border-radius: 20px;
}

hr {
    border-radius: 90%;
    width: 90%;
    border-color: #240115;
}

#pieces-container {
    text-align: center;
}

.piece {
    width: 20rem;
    margin: 1rem;
    
    padding: 1rem;
    border-width: 15px;
    border-style: solid;
    margin-bottom: 2rem;
    border-radius: 20px;
    background-color: #EEE0CB;
    border-color: #240115;
    font-weight: 100;
}

#pieces-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

#title{
    text-align: center;
}

#description{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}